input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-ms-clear,
input[type=number]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
div {
    margin-bottom: 20px; 
}
table, th, td{      
    border-collapse: collapse;
    font-size: 18px;   
    border: 1px solid  #d9d9d9; 
    border-collapse: collapse; 
    text-align: center;   
    vertical-align: middle; 
}
table {
    width: 1000px; 
}
thead {
    background-color: #f2f2f2;
}
thead th:first-child {
    font-weight: bold;
}

tfoot {
    background-color: white;
    font-weight: bold;
}
